<div class="hedder">
    おーばーしんく！
</div>
<% if session[:user] == nil %>
    <div class="center">
        <a href="/login" class="button">&emsp;&emsp;ろぐいん&emsp;&emsp;</a><br>
    </div>
    <br>
    <div class="center">
        <a href="/signup" class="button">しんきとーろく！</a><br>
    </div>
    
<% else %>
    <h3>考えすぎな<%= current_user.name %>さん、ようこそ！</h3><br>
    <div class="center">
        <a href="/signout" class="button">ろぐあうと</a>
    </div>
<% end%>