<div class="hedder">
    かこのきろく
</div>
<% if session[:user] %>
    <% @archives.each do |archive| %>
        <% data = archive.created_at.strftime('%Y年%m月%d日') %>
        <div>
            <div>
                どのくらいの時間
                <%= archive.how %>
            </div>
            <div>
                なにをする
                <%= archive.what %>
            </div>
            <div>
                <%= data %>
            </div>
            <div>
                <a href="/detail/<%= archive.id %>">これの詳細！</a>
            </div>
        </div>
    <% end %>
<% else %>
    <h3>ろぐいんしないと機能が使えないぞ～！</h3>
<% end %>