かこのとうこうどーん！
<% if session[:user] %>
    <% @archives.each do |archive| %>
        <div>
            <div>
                どのくらいの時間
                <%= archive.how %>
            </div>
            <div>
                なにをする
                <%= archive.what %>
            </div>
            <div>
                <a href="/detail/<%= archive.id %>">これの詳細！</a>
            </div>
        </div>
    <% end %>
<% else %>
    ろぐいんしないと機能が使えないぞ～！
<% end %>