<div class="hedder">
    かこのきろく
</div>
<% if session[:user] %>
    <% @archives.each do |archive| %>
        <div>
            <div>
                <a href="/detail/<%= archive.id %>" class="kiroku1"><%= archive.how %><%= archive.what %></a>
            </div>
        </div>
    <% end %>
<% else %>
    <h3>ろぐいんしないと機能が使えないぞ～！</h3>
<% end %>