<div class="hedder">
    かこのきろく
</div>
<% if session[:user] %>
    <% @archives.each do |archive| %>
        <div>
            <div>
                どのくらいの時間
                <%= archive.how %>
            </div>
            <div>
                なにをする
                <%= archive.what %>
            </div>
        </div>
    <% end %>
<% else %>
    <h3>ろぐいんしないと機能が使えないぞ～！</h3>
<% end %>