
<h1>おーばーしんく！</h1>
<h2>～かんがえすぎなひとのためのアプリ～</h2>

<div class="center">
    <a href="" class="button">リフレッシュする</a><br>
</div>
<br>
<div class="center">
    <a href="" class="button">&emsp;かこのきろく&emsp;</a><br>
</div>