<div class="hedder">
    おーばーしんく！
</div>
<h2>～かんがえすぎなひとのためのアプリ～</h2>

<div class="center">
    <a href="/select" class="button">リフレッシュする</a><br>
</div>
<br>
<div class="center">
    <a href="/archive" class="button">&emsp;かこのきろく&emsp;</a><br>
</div>
