<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>おーばーしんく！</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <%= yield %>
  # 下のメニュー
  <div id="sp-fixed-menu" class="for-sp">
  <ul>
    <li><a href="#"><img src="image/RefreshIcon.png" alt="Refresh" width="200px"></a></li>
    <li><a href="#"><img src="image/KirokuIcon.png" alt="Kiroku" width="200px"></a></li>
    <li><a href="#"><img src="image/AccountIcon.png" alt="Account" width="200px"></a></li>
  </ul>

</div>
</body>
</html>
