<div>
    <h1>ろぐいん</h1>
    <form action="/login" method="post">
        <div>
            <div class="center">
                <input name="email" placeholder="めーるをにゅうりょく" class="input-box style1"><br>
            </div>
            <br>
            <div class="center">
                <input name="password" type="password" placeholder="ぱすわーどをにゅうりょく" class="input-box style1"><br>
            </div>
            <br>
            <div class="center">
                <input type="submit" value="ろぐいん" class="input-box style2">
            </div>
        </div>
    </form>
</div>