<div>
    <form action="/login" method="post">
        <div>
            <div>
                <input name="email" placeholder="めーるをにゅうりょく"><br>
                <input name="password" type="password" placeholder="ぱすわーどをにゅうりょく"><br>
            </div>
            <div>
                <input type="submit" value="ろぐいん">
            </div>
        </div>
    </form>
</div>