<div class="hedder">
    おーばーしんく！
</div>
<h3>どんなことで考えすぎちゃってるのかおしえて！<br>いいリフレッシュのしかたをていあんするよ！</h3>
<br>
<form action="/select" method="post">
    <div>
        <div>
            <div class="center">
                <h3>いつまでにやること？&emsp;</h3>
                <select name="how" class="input-box style3">
                    <option value="0">今日中に</option>
                    <option value="1">明日まで</option>
                    <option value="2">数日以内</option>
                    <option value="3">数か月以内</option>
                    <option value="4">今後</option>
                </select>
            </div>
            <br>
            <div class="center">
                <h3>&emsp;なにになやんでる？&emsp;</h3>
                <select name="what" class="input-box style3">
                    <option value="0">手が付けられない</option>
                    <option value="1">問題が山積み</option>
                    <option value="2">成功できる気がしない</option>
                    <option value="3">緊張してしまう</option>
                    <option value="4">その他</option>
                </select>
            </div>
        </div>
        <br>
        <div class="center">
            <input type="submit" value="けっかもとむ" class="input-box style2">
        </div>
    </div>
</form>