<div>
    <div class="hedder">
        しんきとーろく！
    </div>
    <form action="/signup" method="post">
        <div>
            <div>
                <div class="center">
                    <input name="name" placeholder="おなまえ" class="input-box style1"><br>
                </div>
                <br>
                <div class="center">
                    <input name="email" placeholder="めぇる" class="input-box style1"><br>
                </div>
                <br>
                <div class="center">
                    <input name="password" type="password" placeholder="ぱすわーど" class="input-box style1"><br>
                </div>
                <br>
                <div class="center">
                    <input name="password_confirmation" type="password" placeholder="ぱすわーどをもういっかい" class="input-box style1"><br>
                </div>
            </div>
            <br>
            <div class="center">
                <input type="submit" value="とうろく" class="input-box style2">
            </div>
        </div>
    </form>
</div>