<div>
    <form action="/signup" method="post">
        <div>
            <div>
                <input name="name" placeholder="おなまえ"><br>
                <input name="email" placeholder="めぇる"><br>
                <input name="password" type="password" placeholder="ぱすわーど"><br>
                <input name="password_confirmation" type="password" placeholder="ぱすわーどをもういっかい"><br>
            </div>
            <div>
                <input type="submit" value="登録">
            </div>
        </div>
    </form>
</div>