body{
    background: #ddf1e5
}



/*メニューをページ下部に固定*/
#sp-fixed-menu{
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 0;
    z-index: 99;
 }
 
 /*メニューを横並びにする*/
 #sp-fixed-menu ul{
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
    width:100%;
 }
 
 #sp-fixed-menu li{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    padding:0;
    margin:0;
    font-size: 14px;
    border-right: 1px solid #fff;
    background: #aed6b7;
 }
 
 /*ボタンを調整*/
 #sp-fixed-menu li a{
    color: #55593e;
    text-align: center;
    display:block;
    width: 100%;
    padding:10px;
 }

 a,img{
  display: inline-block;
 }

 .button {
    display: inline-block;
    padding: 20px 50px;
    font-size: 40px;
    font-weight: bold;
    background-color: #aed6b7;
    color: #55593e;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: 8px solid #55593e;
    cursor: pointer;
  }

  .kiroku1 {
    display: inline-block;
    background-color: #cfebda;
    width: 100%;
    padding: 30px;
    margin: 0;
    font-size: 40px;
    color: #55593e;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
  }
  
  .kiroku1-date{
      text-align: left;
      font-weight: bold;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
  }

  .hedder{
    background: #aed6b7;;
    margin: 0;
    width: 100%;
    padding: 40px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #55593e;
  }

  h1{
    font-size: 60px;
    text-align: center;
    color: #55593e;
  }

  h2{
    font-size: 40px;
    text-align: center;
    color: #55593e;
  }

  h3{
    font-size: 30px;
    text-align: center;
    color: #55593e;
  }

.input-box{
    padding: 10px;
    font-size: 25px;
    color: #55593e;
    border: 3px solid #55593e;
}

/* 入力ボックス */
.style1{
    width: 500px;
    height: 50px;
    border-radius: 20px;
    background-color: #ecf4ec;
}

/* ボタン */
.style2{
    width: 250px;
    height: 50px;
    font-size: 25px;
    border-radius: 17px;
    background-color: #aed6b7;
}

/* 選択ボックス */
.style3{
    width: 400px;
    height: 60px;
    font-size: 30px;
    border-radius: 20px;
    background-color: #ecf4ec;
}